:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(19, 18, 18, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FF9149;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Added CSS (common to all 3 components)*/

.card{
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
}

.add-row input{
  margin-right: 2rem;
  border-radius: 0.3rem;
  border-style: hidden;
  height: 2rem;
  background-color: rgb(212, 211, 211);
  padding-left: 15px;
}

.add-row{
  display: flex;
  align-items: center;
}

.add-row button{
  height: 2rem;
  display: flex;
  align-items: center;
}

.cards{
  display: flex;
}

.chip-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chip-container button{
  margin-right: 1.5rem;
  margin-top: 1rem;

}

.privacy{
  margin-top: -1.5rem;
  text-align: left;
}
.privacy .header {
  text-align: center;
}

.privacy footer{
  margin-top: 2rem;
  text-align: center;
}

.privacy h1{
  font-size: 2rem;
}

.privacy h2{
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: -0.5rem;
}

.support{
  text-align: left;
  margin-top: -2rem;
}

.support .header{
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}

.support h1{
  text-align: center;
  font-weight: normal;
}

.support h2{
  text-align: center;
  font-weight: normal;
}

.support h3{
  font-weight: 600;
}

.support footer{
  text-align: center;
  margin-top: 3rem;
}

.support .notice{
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
  border-radius: 7px;
  font-weight: 600;
}
